/* Fonts */

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url("../fonts/Dosis-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Lobster';
    src: url("../fonts/Lobster-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$roboto: 'Roboto', sans-serif;
$dosis: 'Dosis', sans-serif;
$bebas: 'Bebas Neue', sans-serif;

.nav-link[font="roboto"] {
    font-family: $roboto;
}
h1[font="dosis"], h3[font="dosis"] {
    font-family: $dosis;
}

.text-roboto {
    font-family: $roboto;
}
.text-bebas {
    font-family: $bebas;
}
.text-dosis {
    font-family: $dosis;
}

.btn-galaxy {
    background: url("@/assets/images/4kback.jpg") no-repeat;
    color: white;
    font-family: $bebas;
    font-size: 1.5rem;
    border: none;
}

.btn-galaxy:hover {
    // The color should go a bright contrast to the background
    color: blueviolet;
}

.bg-dark-card {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px none rgba(255, 255, 255, 0.18);
    border-bottom-style: solid;
}

.bg-dark-card-corners {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px none rgba(255, 255, 255, 0.18);
    border-bottom-style: solid;
}

.text-lobster {
    font-family: 'Lobster', cursive;
}

@media (min-width: 768px) {
    #app {
        min-height: 100vh;
    }
}

@media (max-width: 768px) {
    #app {
        min-height: 100vh;
    }
}
